# {{ ansible_managed }}
config:
  core.https_address: '[::]:8443'
  core.trust_password: lxdware
storage_pools:
  - name: default
    driver: '{{ lxd_default_pool_driver }}'
    config: {{ lxd_default_pool_config |  to_yaml }}
networks:
  - name: lxdbr0
    type: bridge
    config: 
      {{ lxd_default_bridge_config | to_yaml }}
profiles:
  - name: default
    devices:
      aadisable:
        path: /sys/module/nf_conntrack/parameters/hashsize
        source: /sys/module/nf_conntrack/parameters/hashsize
        type: disk
      aadisable1:
        path: /sys/module/apparmor/parameters/enabled
        source: /dev/null
        type: disk
      aadisable2:
        path: /dev/kmsg
        source: /dev/kmsg
        type: disk
      aadisable3:
        path: /sys/fs/bpf
        source: /sys/fs/bpf
        type: disk
      eth0:
          nictype: bridged
          parent: lxdbr0
          type: nic
      root:
          path: /
          pool: default
          type: disk
    config:
      linux.kernel_modules: ip_vs,ip_vs_rr,ip_vs_wrr,ip_vs_sh,ip_tables,ip6_tables,netlink_diag,nf_nat,overlay,br_netfilter
      raw.lxc: |
        lxc.apparmor.profile=unconfined
        lxc.mount.auto=proc:rw sys:rw cgroup:rw
        lxc.cgroup.devices.allow=a
        lxc.cap.drop=
      security.privileged: "true"
      security.nesting: "true"
      user.user-data: |
        #cloud-config
        users: 
        - name: root
          ssh_authorized_keys:
            - {{ ssh_public_key }}
            - {{ ssh_key_public.stdout }}
        - name: ubuntu
          ssh_authorized_keys:
            - {{ ssh_public_key }}
            - {{ ssh_key_public.stdout }}